<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Splitter</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-blue-700 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
            <span class="font-semibold text-xl tracking-tight">Audio Splitter</span>
        </div>
    </nav>

    <div id="app" class="mt-10">
        <div class="bg-white w-1/3"></div>
        <div class="bg-white w-2/3">
            <div class="flex items-center mb-1">
              <div class="w-1/3">
                <label class="block text-gray-500 font-bold text-right mb-1 mb-0 pr-4" for="inline-full-name">
                  MP3 file
                </label>
              </div>
              <div class="w-2/3">
                <input 
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" 
                    id="inline-full-name" 
                    type="file"
                    accept="audio/mp3"
                    ref="file"
                    v-on:change="fileUpload()"
                >
              </div>
            </div>
            
            <div class="flex items-center mb-5">
              <div class="w-1/3"></div>
              <div class="w-2/3">
                <div class="shadow w-full bg-gray-600 mt-2">
                    <div class="bg-purple-500 text-xs leading-none py-1 text-center text-white" :style="'width: ' + progress +'%'">{{ progress }}%</div>
                </div>
              </div>
            </div>

            <div class="flex items-center">
            <div class="w-1/3"></div>
            <div class="w-2/3">
                <button 
                    :class="(uploadable ? 'bg-gray-500' : 'bg-purple-500 hover:bg-purple-400') + ' shadow focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded'" 
                    type="button"
                    v-on:click="submit()"
                    :disabled="uploadable"
                >
                Upload
                </button>
                <span class="spinner ml-2" v-if="processing && progress == 100"></span>
            </div>
            </div>
        </div>
        <div class="bg-white w-1/3"></div>
        <!-- Results list -->
        <div class="clearfix mt-10"></div>
        <div id="results" v-if="results.vocals || results.accompaniment">
            <div class="bg-white w-1/3"></div>
            <div class="bg-white w-2/3">
                <div class="flex items-center mb-1">
                <div class="w-1/3">
                    <label class="block text-gray-500 font-bold text-right mb-1 mb-0 pr-4" for="inline-full-name">
                    Results
                    </label>
                </div>
                <div class="w-2/3 bg-gray-200 p-5">
                    <li><a :href="results.accompaniment" target="_blank" v-html="results.accompaniment"></a></li>
                    <li><a :href="results.vocals" target="_blank" v-html="results.vocals"></a></li>
                </div>
                </div>
            </div>
            <div class="bg-white w-1/3"></div>
        </div>
        <!-- End Results list -->
        <!-- Results list -->
        <div class="clearfix mt-10"></div>
        <div id="powerd-by">
            <div class="bg-white w-1/3"></div>
            <div class="bg-white w-2/3">
                <label class="block text-gray-500 font-bold text-right mb-1 mb-0 pr-4" for="inline-full-name">
                    Web interface built on top of <strong><a href="https://github.com/deezer/spleeter">deezer/spleeter</a></strong>
                </label>
            </div>
        </div>
    </div>
  
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    window.ws_host = 'http://localhost:8000/echo'
</script>
<script src="/js/app.js"></script>
</body>
</html>